{% extends 'base.html' %}
{% block title %}
Cart
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Product</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'manageCart' cp.id %}?action=inc" class="btn btn-primary">+</a>
                            <a href="{% url 'manageCart' cp.id %}?action=dsc" class="btn btn-warning">-</a>
                            <a href="{% url 'manageCart' cp.id %}?action=rmv" class='btn btn-danger'>x</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class='text-right'>Total</th>
                        <th>Rs. {{cart.total}}</th>
                        {% if cart.cartproduct_set.all %}
                        <th><a href="{% url 'emptyCart' %}">Empty Cart</a></th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th><a href="{% url 'checkout' %}" class='btn btn-primary'>Checkout</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}