{% extends 'base.html' %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if request.GET.m == 's' %}
        <h2>The password reset link has been sent to your email</h2>
        {% elif request.GET.m == 'e' %}
        <h2 class="alert">Something went wrong. please try again!</h2>
        {% else %}
        <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button>Send password reset link!</button>
        </form>
        {% endif %}
        
    </div>
</div>
{% endblock %}