{% extends 'AdminPages/adminBase.html' %}
{% block title %}
Admin Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>
            Pending Orders
        </h2>
        <table class='table'>
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Ordered_on</th>
                    <th>Amount</th>
                </tr>
                {% for pendingorder in pendingorders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'adminOrderDetail' pendingorder.id %}">ORDER_{{pendingorder.id}}</a></td>
                    <td>{{pendingorder.ordered_by}}</td>
                    <td>{{pendingorder.created_at}}</td>
                    <td>{{pendingorder.total}}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</div>
{% endblock %}